<!DOCTYPE html> <!-- Document type for browser rendering-->
<html>

<!------------------------------------------------------------------------------>
            <!-- Header: Jinja Variables & References -->
<!------------------------------------------------------------------------------>
    <head> <!-- Non-content information-->
        <!-- URL description, aka title-->
        <title> Find a Paint</title>

        <!--Define character encoding-->
        <meta charset="utf-8">
        
        <!-- Mobile rendering tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Pass jinja variables to JS-->
        <script>
            var SWdata = {{SWdata|safe}};
            var BMdata = {{BMdata|safe}};
        </script>

        <!-- JQUERY CDN (content delivery network) Reference :: online server reference-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Rendering References (for test env) -->
        <script src="../docs/static/script.js"></script>                                <!--JS REF for BUILD-->
        <link rel="stylesheet" href="../docs/static/styles.css">                        <!-- CSS REFERENCE -->
        <link rel="icon" type="image/png" href="../docs/static/color-palette.png"/>     <!-- FLAVICON -->
       
        <!-- Rendering References on prem-->
        <script type="text/javascript" src="../static/script.js"></script>              <!-- JS REFERENCE -->
        <link rel="stylesheet" href="../static/styles.css">                             <!-- CSS REFERENCE -->
        <link rel="icon" type="image/png" href="../static/color-palette.png"/>          <!-- FLAVICON -->

        <!-- Font reference -->
        <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'> <!-- FONT REFERENCE-->
    </head>

<!------------------------------------------------------------------------------>
            <!-- Body -->
<!------------------------------------------------------------------------------>
    <body onload="updateAroundHexText()"> <!-- Contains all content -->
        <div class="body-display">

            <!-- Page title -->
            <div class="title-font">
                <h1>
                    Find a Paint
                </h1>
            </div>

            <!-- Drop down (label-input) for brand selection-->
            <div class="selector">
                <div class="selector-label">
                    <label for="Supplier">Choose Supplier</label>
                </div>
                <div class="selector-box">
                    <select name="brands" id="brands" onchange="selectedBrand()"> <!-- call JS function-->
                        <option value="Benjamin Moore">Benjamin Moore</option>
                        <option value="Sherwin Williams">Sherwin Williams</option>
                        <option value="Dunn Edwards">Dunn Edwards</option>
                        <option value="Kelly Moore">Kelly Moore</option>
                        <option value="Pratt and Lambert">Pratt and Lambert</option>
                        <option value="Valspar">Valspar</option>
                        <option value="Behr">Behr</option>
                    </select>
                </div>
            </div>

            <!-- Drop down (label-input) for color selection-->
            <div class="selector">
                <div class="selector-label">Specify Color</div>
                    <div class="selector-box">
                        <input type="text" id="specifiedColor" name="specifiedColor" size="18">
                        <input type="button" value="Enter" onclick="updateSpecifiedColor()"/>  
                    </div>
            </div>
            <hr>

<!------------------------------------------------------------------------------>
            <!-- Hexagons -->
<!------------------------------------------------------------------------------>

        <!-- TOP HEX ROW -->
            <div class="hexagons">
                <div class="hexagon-label-left"> 
                    <div class="hexBrandText"></div>
                    <div class="hexColorText"></div>
                </div><!--Brand1-->
                <div class="hexagon-grid">
                    <div class="hexagon" id="outerHex"></div>
                    <div class="hexagon" id="outerHex"></div>
                    <div class="hexagon-label-right"> 
                        <div class="hexBrandText"></div>
                        <div class="hexColorText"></div>
                    </div><!--Brand1-->
                </div>
            </div>

        <!-- MID HEX ROW -->
            <div class="hexagons">
                <div class="hexagon-label-left" style="width:117.5px"> 
                    <div class="hexBrandText"></div>
                    <div class="hexColorText"></div>
                </div><!--Brand1-->
                <div class="hexagon-grid">
                    <div class="hexagon" id="outerHex"></div>
                    <div class="hexagon" id="centerHex"></div>
                    <div class="hexagon" id="outerHex'"></div>
                    <div class="hexagon-label-right"> 
                        <div class="hexBrandText"></div>
                        <div class="hexColorText"></div>
                    </div><!--Brand1-->
                </div>
            </div>

        <!-- BOT HEX ROW -->
            <div class="hexagons">
                <div class="hexagon-label-left"> 
                    <div class="hexBrandText"></div>
                    <div class="hexColorText"></div>
                </div><!--Brand1-->
                <div class="hexagon-grid">
                    <div class="hexagon" id="outerHex"></div>
                    <div class="hexagon" id="outerHex"></div>
                    <div class="hexagon-label-right"> 
                        <div class="hexBrandText"></div>
                        <div class="hexColorText"></div>
                    </div><!--Brand1-->
                </div>
            </div>

            <br> 
            <br>
            <hr>
<!------------------------------------------------------------------------------>
            <!-- Color Pallette -->
<!------------------------------------------------------------------------------>
            <p>Color Pallette:</p> 
            <div style="color: black">
                <div class="palletes">
                    <div class="pallete">
                        <div class="pallete-title">Behr</div>
                        <div class="pallete-squares">
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                        </div>
                    </div>
                    <div class="pallete">
                        <div class="pallete-title">Benjamin Moore</div>
                        <div class="pallete-squares">
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                        </div>
                    </div>
                    <div class="pallete">
                        <div class="pallete-title">Dunn Edwards</div>
                        <div class="pallete-squares">
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                        </div>
                    </div>
                    <div class="pallete">
                        <div class="pallete-title">Kelly Moore</div>
                        <div class="pallete-squares">
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                        </div>
                    </div>
                    <div class="pallete">
                        <div class="pallete-title">Pratt & Lambert</div>
                        <div class="pallete-squares">
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                        </div>
                    </div>
                    <div class="pallete">
                        <div class="pallete-title">Sherwin Williams</div>
                        <div class="pallete-squares">
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                        </div>
                    </div>
                    <div class="pallete">
                        <div class="pallete-title">Valspar</div>
                        <div class="pallete-squares">
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                            <div class="square-pallette"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
<!------------------------------------------------------------------------------>
            <!-- Footer -->
<!------------------------------------------------------------------------------>
            <div style="margin-top:2em">
                By: <span style="color:black">Abhay Gupta</span> 
            </div>
            <div style="margin:1em 0em 3em 0em"> <!-- top right bot left-->
                Donate via  <a href="https://patreon.com/abgup?utm_medium=social&utm_source=twitter&utm_campaign=creatorshare ">Patreon</a>
            </div>
        </div>

    </body>
</html>



